@import "tailwindcss";

@utility container {
  @apply max-w-265 mx-auto;
}
@utility btn {
      @apply text-white font-medium py-4 sm:px-[46.5px] px-5 rounded-[42px] hover:border-blue-300 border;
}
#logo{
      color: #E6533C;
}

h1, h2, h3, h4, h5, h6 {
      color: white;
}
p{
      color: rgba(255, 255, 255, 0.502);
}
